.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 3vh 0;
    width: 100%;
}

.inputContainer label {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.inputContainer input {
    height: 3rem;
}
.inputContainer label {
    font-size: 2rem;
}